@use '@/styles/_variable' as *;

.globalNavigation {
  position: sticky;
  inset: auto 0 env(safe-area-inset-bottom);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing-md);
  background-color: color-mix(in srgb, var(--bg-basic), transparent 10%);
  backdrop-filter: blur(0.4rem);
}

.siteName {
  @include txt-lead;

  color: currentColor;
  text-decoration: none;
}
