@use '@/styles/_variable' as *;

.globalNavigation {
  position: sticky;
  inset: auto 0 env(safe-area-inset-bottom);
  z-index: 5;
  width: 100%;
  background: var(--bg-panel) linear-gradient(to bottom, var(--bg-light), var(--bg-basic));
  border-top: 1px solid var(--bg-basic);
  backdrop-filter: blur(1rem);
  transition:
    opacity var(--transition-enter),
    scale var(--transition-enter);

  html:not([data-visible-nav]) & {
    pointer-events: none;
    opacity: 0;
    transform-origin: bottom;
    scale: 1 0.8;
    transition:
      opacity var(--transition-leave),
      scale var(--transition-leave);
  }
}

.layout {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @include mq(narrow) {
    grid-template-columns: 1fr auto;
    gap: var(--spacing-xl) var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-md);
  }

  @include mq(fromWide) {
    grid-template-columns: rem(630 - 64 - 64) 1fr;
    gap: var(--spacing-2xl) 0;
    max-width: rem(1280);
    padding: var(--spacing-md) var(--spacing-3xl);
  }
}

.header {
  display: flex;
  align-items: center;
}

.siteName {
  @include txt-lead;
  @include txt-link(false);

  background-position-y: bottom;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 1.5em;
  font-size: var(--font-size-sm);

  &::before {
    position: absolute;
    top: 0;
    right: 100%;
    margin-right: 0.5em;
    color: var(--txt-subtle);
    content: '・';
  }
}

.categoryLink {
  @include txt-link(false);

  text-decoration: none;
  text-shadow: 0 0 0 var(--txt-muted);

  @media (any-hover: hover) {
    &:hover {
      text-shadow: 0 0 1px var(--txt-muted);
    }
  }
}

.menu {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
}

.indexTrigger {
  @include rect(rem(40));
  @include btn-glass;

  justify-self: end;
}

.scrollToTopTrigger {
  @include rect(rem(40));
  @include btn-glass;
}

.indexPopover {
  padding: var(--spacing-md);
  background: var(--bg-panel)
    linear-gradient(
      to bottom,
      color-mix(in srgb, var(--bg-basic), transparent 50%),
      color-mix(in srgb, var(--bg-basic), transparent 50%)
    );
  border-width: 1px 0 0;
  border-top: 1px solid var(--bg-basic);
  backdrop-filter: blur(1rem);

  @include mq(narrow) {
    width: 100%;
    margin-bottom: var(--spacing-sm);
    position-area: top;
  }

  @include mq(fromWide) {
    margin-bottom: var(--spacing-md);
    position-area: top span-left;
  }
}
