@use '@/styles/_variable' as *;

.globalNavigation {
  position: sticky;
  inset: auto 0 env(safe-area-inset-bottom);
  z-index: 5;
  width: 100%;
  background-color: var(--bg-panel);
  backdrop-filter: blur(1rem);

  html:not([data-visible-nav]) & {
    pointer-events: none;
    opacity: 0;
    transform-origin: bottom;
    scale: 1 0.8;
    transition:
      opacity var(--transition),
      scale var(--transition);
  }
}

.layout {
  display: grid;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  @include mq(narrow) {
    grid-template-columns: 1fr auto;
    gap: var(--spacing-xl) var(--spacing-md);
    padding: rem(12) var(--spacing-md);
  }

  @include mq(fromWide) {
    grid-template-columns: rem(630 - 64 - 64) 1fr;
    gap: var(--spacing-2xl) 0;
    max-width: rem(1280);
    padding: var(--spacing-md) var(--spacing-3xl);
  }
}

.header {
  display: flex;
  align-items: center;
}

.siteName {
  @include txt-lead;

  color: currentColor;
  text-decoration: none;
}

.category {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  font-size: var(--font-size-sm);

  &::before {
    margin-right: 0.5em;
    color: var(--txt-subtle);
    content: '・';
  }
}

.categoryLink {
  color: var(--txt-muted);
  text-decoration: none;
}

.menu {
  display: flex;
  gap: var(--spacing-sm);
  align-items: center;
  justify-content: flex-end;
}

.indexTrigger {
  @include rect(rem(32));

  display: grid;
  place-items: center;
  justify-self: end;
  padding: 0;
  color: var(--txt-mutec);
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.scrollToTopTrigger {
  @include rect(rem(32));

  display: grid;
  place-items: center;
  padding: 0;
  color: var(--txt-mutec);
  appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

.indexPopover {
  padding: var(--spacing-md);
  background-color: var(--bg-panel);
  border: none;
  backdrop-filter: blur(1rem);

  @include mq(narrow) {
    width: 100%;
    margin-bottom: var(--spacing-md);
    position-area: top;
  }

  @include mq(fromWide) {
    margin-bottom: var(--spacing-md);
    position-area: top span-left;
  }
}
