@use '@/styles/_variable' as *;

.contentsMenu {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  padding: 0;
  margin: 0;
  line-height: 1;
}

.item {
  display: grid;
  grid-template-columns: rem(12) 1fr;
  gap: var(--spacing-sm);
  list-style: none;

  &::before {
    @include rect(100%, 1px);

    display: block;
    margin-top: 0.5em;
    content: '';
    background: var(--txt-subtle);
  }
}

.link {
  display: inline-flex;
  flex-direction: column;
  gap: var(--font-size-xs);
  width: fit-content;
  font-size: var(--font-size-sm);
  color: currentColor;
  text-decoration: none;
}

.title {
  font-weight: var(--font-weight-regular);
}

.kana {
  @include txt-kana;

  font-size: var(--font-size-xs);
}
