@use '@/styles/_variable' as *;

// レイアウト
.section {
  @include mq(narrow) {
    @include tmp-container;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
    margin-top: var(--spacing-3xl);
  }

  @include mq(fromWide) {
    display: grid;
    grid-template-columns: rem(630 - 64 - 64) 1fr;
    max-width: rem(1280);
    margin-inline: auto;
  }
}

// ヘッダー
.header {
  @include mq(narrow) {
    gap: var(--spacing-md);
  }

  @include mq(fromWide) {
    padding: 0 var(--spacing-3xl);
  }
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);

  @include mq(fromWide) {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: var(--spacing-3xl) 0 0;
  }
}

.title {
  @include hd-lg;

  span {
    white-space: nowrap;
  }
}

.kana {
  @include txt-kana;

  font-size: var(--font-size-xl);
}

.description {
  @include txt-paragraph;

  margin: var(--spacing-md) 0 0;
  font-size: var(--font-size-sm);
}

// メンバーリスト
.member {
  position: relative;
  margin: var(--spacing-xl) 0 0;
}

.memberTitle {
  @include txt-kana;

  font-size: var(--font-size-lg);
}

.memberList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-md);
  align-items: flex-start;
  max-width: 100%;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  list-style: none;
}

.memberItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--font-size-xs);
  list-style: none;
}

.memberFigure {
  overflow: hidden;
  border-radius: var(--border-radius);

  @include mq(narrow) {
    padding: var(--spacing-sm);
  }

  @include mq(fromWide) {
    padding: rem(12);
  }

  img {
    @include rect(100%);

    object-fit: contain;
  }
}

.memberName {
  position: relative;
  margin: var(--spacing-sm) 0 0;
  font-size: var(--font-size-sm);
  color: var(--txt-accent);
  text-align: center;
  text-box: trim-both cap alphabetic;

  small {
    display: block;
    font-size: var(--font-size-xs);
    line-height: 1.4;
    color: var(--txt-muted);

    // &::before {
    //   margin: 0 0.2em;
    //   content: '・';
    // }
  }
}

.memberDescription {
  margin: rem(12) 0 0;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  text-align: justify;
}

// 本文
.body {
  @include mq(fromWide) {
    padding: rem(16) var(--spacing-3xl) 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @include mq(narrow) {
    border-top: 1px solid var(--border-basic);
  }
}

.item {
  position: relative;
  border-bottom: 1px solid var(--border-basic);

  @include mq(narrow) {
    padding: var(--spacing-xl) 0;
  }

  @include mq(fromWide) {
    padding: var(--spacing-2xl) 0;
  }
}
