@use '@/styles/_variable' as *;

.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);

  @include mq(narrow) {
    @include tmp-container;

    margin-top: var(--spacing-3xl);
  }

  @include mq(fromWide) {
    max-width: rem(1280);
    padding: var(--spacing-3xl) var(--spacing-3xl) 0;
    margin-inline: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.description {
  @include txt-paragraph;

  font-size: var(--font-size-md);
}

.shoulderCopy {
  @include hd-sm;

  font-weight: var(--font-weight-regular);
  color: var(--border-basic);
  letter-spacing: 0.2em;
}

.title {
  @include hd-lg;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid var(--border-basic);
}

.item {
  position: relative;
  border-bottom: 1px solid var(--border-basic);

  @include mq(narrow) {
    padding: var(--spacing-xl) 0;
  }

  @include mq(fromWide) {
    padding: var(--spacing-2xl) 0;
  }
}
