@use '@/styles/_variable' as *;

.home {
  position: relative;
}

.layout {
  @include mq(fromWide) {
    display: grid;
    grid-template-columns: rem(630 - 64 - 64) 1fr;
    max-width: rem(1280);
    margin-inline: auto;
  }
}

.hero {
  @include mq(narrow) {
    @include tmp-container;
    @include rect(100svw, 100svh);

    display: grid;
    align-content: center;
    align-items: center;
  }

  @include mq(fromWide) {
    grid-column: 1;
    padding: calc(30svh - rem(90)) var(--spacing-3xl) 0;
  }
}

.sticky {
  display: flex;
  flex-direction: column;

  @include mq(fromWide) {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.heroHeader {
  display: grid;

  @include mq(narrow) {
    gap: var(--spacing-xl);
  }

  @include mq(fromWide) {
    gap: var(--spacing-xl);
  }
}

.title {
  @include hd-display;

  padding-top: 1em;
  text-indent: -0.1em;
}

.kana {
  @include hd-md;

  position: relative;
  font-family: var(--font-plaster);
  color: var(--txt-subtle);
  letter-spacing: 0;

  &::after {
    display: inline-block;
    margin-left: rem(16);
    font-family: var(--font-line-seed-jp);
    font-weight: var(--font-weight-thin);
    vertical-align: middle;
    letter-spacing: -0.3em;
    content: 'ー→';
  }
}

.nav {
  margin: var(--spacing-3xl) 0 0;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
  padding: 0;
  margin: 0;
}

.navItem {
  position: relative;
  padding-left: rem(32 + 8);
  list-style: none;
}

.navLink {
  display: inline-flex;
  flex-direction: column;
  gap: rem(16);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  color: var(--txt-muted);
  text-decoration: none;
  transition: background-color var(--transition);

  @media (any-hover: hover) {
    &:hover {
      color: var(--txt-accent);
    }
  }
}

.navShoulderKana {
  @include txt-kana;

  font-size: var(--font-size-sm);
}

.navTitle {
  position: relative;

  @include mq(narrow) {
    @include hd-sm;
  }

  @include mq(fromWide) {
    @include hd-sm;
  }

  &::before {
    @include rect(rem(32), 1px);

    position: absolute;
    right: 100%;
    bottom: calc(50% - 1px);
    display: inline-block;
    margin-right: rem(8);
    vertical-align: middle;
    content: '';
    background-color: var(--border-basic);
  }
}

.body {
  @include mq(fromWide) {
    padding: calc(30svh + rem(56 + 44 + 18 + 64)) rem(160) 0 var(--spacing-3xl);
  }
}

.appHeader {
  position: sticky;
  top: 0;
  z-index: 100;
  container-type: scroll-state;

  > * {
    pointer-events: none;
    opacity: 0;
    filter: blur(0.1rem);
    transition:
      opacity var(--transition),
      filter var(--transition);
  }

  @container scroll-state(stuck: top) {
    > * {
      pointer-events: auto;
      opacity: 1;
      filter: blur(0);
    }
  }
}

.section {
  @include mq(narrow) {
    @include tmp-container;

    margin: var(--spacing-2xl) auto;
  }

  @include mq(fromWide) {
    padding: 0 0 1em;
  }
}

.highlight {
  @include txt-marker;

  padding: 0 0.2em;
}

.sectionTitle {
  font-size: var(--font-size-sm);
  color: var(--txt-subtle);
  letter-spacing: 0.03em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);
  padding: 0;
  margin: 0;
  list-style: none;
}

.item {
  position: relative;

  &::before {
    @include rect(2ch, 2px);

    content: '';
    background-color: var(--border-basic);
  }
}

.itemLink {
  @include txt-paragraph;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  color: currentColor;
  text-decoration: none;
}

.itemShoulderCopy {
  @include txt-kana;
}

.itemDescription {
  @include txt-paragraph;
}

.itemTitle {
  @include hd-md;

  line-height: 1.3;
}

.paragraph {
  @include txt-paragraph;

  .paragraph ~ & {
    @include mq(narrow) {
      margin-top: 3em;
    }

    @include mq(fromWide) {
      margin-top: 4em;
    }
  }
}

.article {
  position: sticky;
  top: 0;
  z-index: 0;

  @include mq(narrow) {
    @include tmp-container;

    padding-top: var(--spacing-3xl);
    margin: var(--spacing-5xl) auto;
  }

  @include mq(fromWide) {
    margin: var(--spacing-5xl) 0;
  }
}

.articleHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  background-color: var(--bg-basic);
}

.articleShoulderCopy {
  @include hd-sm;

  position: relative;
  font-weight: var(--font-weight-regular);
  color: var(--border-basic);
  letter-spacing: 0.2em;
}

.articleTitle {
  @include hd-lg;
}

.articleBody {
  margin: var(--spacing-2xl) 0;
}

.articleDescription {
  @include txt-paragraph;

  @include mq(fromWide) {
    max-width: rem(560);
  }
}

.articleFooter {
  margin: var(--spacing-2xl) 0;
}

.moreLink {
  @include txt-link;

  color: var(--txt-accent);
  text-decoration: none;
}
