@use '@/styles/_variable' as *;

.home {
  position: relative;
}

.hero {
  position: relative;
  display: grid;
  align-content: center;
  align-items: center;

  @include mq(narrow) {
    @include rect(100vmin, 150vmin);

    gap: var(--spacing-2xl);
    padding: 0 var(--spacing-xl);
  }

  @include mq(fromWide) {
    @include rect(100%, 100svh);

    gap: var(--spacing-2xl);
    padding: 0 var(--spacing-3xl);
  }
}

.title {
  @include hd-display;

  color: currentColor;
  text-indent: -0.1em;
}

.kana {
  @include hd-md;

  position: relative;
  font-weight: var(--font-weight-regular);
  color: var(--border-basic);
  letter-spacing: 0.2em;

  &::before {
    @include rect(2ch, 2px);

    display: inline-block;
    margin-right: 0.5em;
    vertical-align: middle;
    content: '';
    background-color: currentColor;
  }
}

.nav {
  position: absolute;
  inset: auto 0 0 auto;
  display: grid;
  justify-content: flex-end;
  padding: var(--spacing-md);
}

.link {
  @include rect(10ch);

  display: grid;
  place-items: center;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--bg-basic);
  text-decoration: none;
  background-color: var(--txt-basic);
  border-radius: 39pc;
  transition: background-color var(--transition);

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--txt-accent);
    }
  }
}

.appHeader {
  position: sticky;
  top: 0;
  z-index: 100;
  container-type: scroll-state;

  > * {
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--transition);
  }

  @container scroll-state(stuck: top) {
    > * {
      pointer-events: auto;
      opacity: 1;
    }
  }
}

.section {
  @include tmp-container;

  margin: var(--spacing-4xl) auto;
}

.paragraph {
  @include txt-paragraph;
}
