# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

# microCMS
NEXT_PUBLIC_MICROCMS_SERVICE_KEY="your-service-key"
NEXT_PUBLIC_MICROCMS_API_KEY="your-secret-key"
