@use '@/styles/_variable' as *;

.footer {
  width: 100%;
  background-color: var(--bg-panel);
}

.layout {
  display: grid;
  grid-template-areas: 'information nav' 'copyright console';
  width: 100%;
  margin: 0 auto;

  @include mq(narrow) {
    grid-template-columns: 1fr max(auto, 50%);
    gap: var(--spacing-xl) var(--spacing-md);
    padding: var(--spacing-2xl) var(--spacing-md) var(--spacing-lg);
  }

  @include mq(fromWide) {
    grid-template-columns: rem(630 - 64 - 64) 1fr;
    gap: var(--spacing-2xl) 0;
    width: 100%;
    max-width: rem(1280);
    padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-xl);
  }
}

.information {
  display: grid;
  grid-area: information;
  gap: var(--spacing-sm);
  align-self: flex-start;
  color: currentColor;
  text-decoration: none;
}

.siteName {
  @include txt-lead;

  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

.domain {
  font-size: var(--font-size-xs);
  color: var(--txt-muted);
  letter-spacing: 0.05em;
}

.nav {
  grid-area: nav;
}

.console {
  display: flex;
  grid-area: console;
  gap: var(--spacing-sm);
  align-items: center;
  align-items: flex-end;
  justify-self: flex-end;
  line-height: 1.4;
  word-break: break-all;

  br {
    @include mq(fromWide) {
      display: none;
    }
  }
}

.consoleDescription {
  font-size: var(--font-size-xs);
  color: var(--txt-muted);
}

.login {
  @include txt-link;

  font-size: var(--font-size-xs);
  word-break: keep-all;
  cursor: pointer;
}

.copyright {
  grid-area: copyright;
  align-self: flex-end;
  font-size: var(--font-size-xs);
  line-height: 1.4;
  color: var(--txt-muted);
}
