@use '@/styles/_variable' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-md);
  background-color: color-mix(in srgb, var(--bg-basic), transparent 10%);
  backdrop-filter: blur(0.4rem);
}

.siteName {
  @include hd-md;

  font-weight: var(--font-weight-regular);
  color: currentColor;
  text-decoration: none;
}
