@use '@/styles/_variable' as *;

.memberList {
  position: relative;
}

.title {
  @include txt-kana;

  font-size: var(--font-size-lg);

  small {
    padding: 0 0.5em;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-thin);

    &::before {
      margin-right: 0.5em;
      content: '・';
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  list-style: none;
}

.item {
  padding: 0 0 0 var(--font-size-xl);
  font-size: var(--font-size-md);
  list-style: none;
  background: linear-gradient(to bottom, var(--txt-subtle), var(--txt-subtle)) left top 1em /
    #{rem(12)} 1px no-repeat;
}

.name {
  font-weight: var(--font-weight-regular);
}

.roll {
  margin: 0 0.5em;
  font-size: var(--font-size-sm);
  color: var(--txt-muted);
}

.tag {
  @include txt-marker;

  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius);
}
