@use '@/styles/_variable' as *;

.memberList {
  position: relative;
}

.title {
  @include txt-kana;

  font-size: var(--font-size-sm);

  small {
    padding: 0 0.5em;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-thin);

    &::before {
      margin-right: 0.5em;
      content: '・';
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  font-size: var(--font-size-sm);
  list-style: none;
}

.item {
  display: grid;
  grid-template-columns: var(--font-size-sm) 1fr;
  gap: var(--spacing-sm);
  font-size: var(--font-size-sm);
  list-style: none;

  &::before {
    @include rect(var(--font-size-sm), 1px);

    display: block;
    margin-top: 1em;
    content: '';
    background: var(--border-basic);
  }
}

.name {
  font-weight: var(--font-weight-regular);
}

.roll {
  margin: 0 0.5em;
  font-size: var(--font-size-xs);
  color: var(--txt-muted);
}

.tag {
  @include txt-marker;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius);
}
