@use '@/styles/_variable' as *;

.item {
  display: flex;
  flex-direction: column;

  &[href] {
    color: currentColor;
    text-decoration: none;
  }
}

.link {
  transition: color var(--transition);

  @media (any-hover: hover) {
    &:hover {
      color: var(--txt-accent);
    }
  }
}

.title {
  @include hd-md;
}

.guest {
  @include txt-lead;

  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  justify-content: flex-end;
  margin: var(--spacing-lg) 0 0;
}

.suffix {
  @include mq(narrow) {
    font-size: var(--font-size-sm);
  }

  @include mq(fromWide) {
    font-size: var(--font-size-md);
  }
}

.date {
  @include txt-description;

  margin: var(--spacing-lg) 0 0;
  text-box: trim-both cap alphabetic;
}
