@use '@/styles/_variable' as *;

.indexNavigation {
  position: relative;
}

.title {
  @include txt-kana;

  font-size: var(--font-size-lg);
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  font-size: var(--font-size-sm);
  list-style: none;

  @include mq(narrow) {
    gap: var(--spacing-md);
  }

  @include mq(fromWide) {
    gap: var(--spacing-sm);
  }
}

.item {
  display: grid;
  grid-template-columns: var(--font-size-sm) 1fr;
  gap: var(--spacing-sm);
  font-size: var(--font-size-md);
  list-style: none;

  &::before {
    @include rect(var(--font-size-sm), 1px);

    display: block;
    margin-top: 0.75em;
    content: '';
    background: var(--txt-subtle);
  }
}

.link {
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--txt-basic);
  text-decoration: none;

  small {
    display: block;
    width: fit-content;
    font-size: var(--font-size-sm);
  }
}
