@use '@/styles/_variable' as *;

.indexNavigation {
  position: relative;
}

.title {
  @include txt-kana;

  font-size: var(--font-size-lg);
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: var(--spacing-md) 0 0;
  font-size: var(--font-size-sm);
  list-style: none;

  @include mq(narrow) {
    gap: var(--spacing-md);
  }

  @include mq(fromWide) {
    gap: var(--spacing-sm);
  }
}

.item {
  padding: 0 0 0 var(--font-size-xl);
  font-size: var(--font-size-md);
  list-style: none;
  background: linear-gradient(to bottom, var(--txt-subtle), var(--txt-subtle)) left top 1em /
    #{rem(12)} 1px no-repeat;
}

.link {
  @include txt-link;

  font-weight: var(--font-weight-regular);
  line-height: 1.5;

  small {
    display: block;
    width: fit-content;
    font-size: var(--font-size-sm);
    background: inherit;
  }

  span {
    text-decoration: underline dotted 1px;
    text-underline-offset: 0.2em;
  }
}
