@use '../function/rem' as *;
@use '../mixin/mq' as *;

@mixin txt-paragraph {
  font-weight: var(--font-weight-regular);
  text-align: justify;
  letter-spacing: 0.04em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-md);
    line-height: 2;
  }

  @include mq(fromWide) {
    font-size: var(--font-size-md);
    line-height: 2.5;
  }

  &:not(:first-child) {
    @include mq(narrow) {
      margin-top: 3em;
    }

    @include mq(fromWide) {
      margin-top: 4em;
    }
  }
}

@mixin txt-lead {
  font-size: var(--font-size-lg);
  letter-spacing: 0.03em;
}

@mixin txt-description {
  font-size: var(--font-size-sm);
  color: var(--txt-muted);
  letter-spacing: 0.03em;
}

@mixin hd-sm {
  font-size: var(--font-size-lg);
  line-height: 1.5;
  color: var(--txt-accent);
  letter-spacing: 0.12em;
  text-box: trim-both cap alphabetic;
}

@mixin hd-md {
  font-weight: var(--font-weight-thin);
  line-height: 1.5;
  color: var(--txt-accent);
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-lg);
  }

  @include mq(fromWide) {
    font-size: var(--font-size-xl);
  }
}

@mixin hd-lg {
  font-weight: var(--font-weight-thin);
  line-height: 1.4;
  color: var(--txt-accent);
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-2xl);
  }

  @include mq(fromWide) {
    font-size: var(--font-size-3xl);
  }
}

@mixin hd-display {
  font-weight: var(--font-weight-thin);
  line-height: 1.3;
  color: var(--txt-accent);
  letter-spacing: 0.025em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-4xl);
  }

  @include mq(fromWide) {
    font-size: var(--font-size-5xl);
  }
}

@mixin txt-link {
  color: currentColor;
  text-decoration: none;
  background: repeating-linear-gradient(
      to right,
      currentColor,
      currentColor 3px,
      transparent 3px,
      transparent 5px
    )
    left bottom 1px / 100% 1px no-repeat;
  transition: background-position var(--transition);

  @media (any-hover: hover) {
    &:hover {
      background-position: right bottom 0;
    }
  }
}

@mixin txt-marker {
  background: linear-gradient(to bottom, var(--border-marker), var(--border-marker)) left bottom
    0.4em / 100% 0.8em no-repeat;
}
