@use '../function/rem' as *;
@use '../mixin/mq' as *;

@mixin txt-paragraph {
  font-weight: var(--font-weight-regular);
  text-align: justify;
  letter-spacing: 0.04em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-md);
    line-height: 2;
  }

  @include mq(fromWide) {
    font-size: var(--font-size-md);
    line-height: 2.5;
  }
}

@mixin txt-lead {
  font-size: var(--font-size-lg);
  line-height: 1;
  letter-spacing: 0.05em;
  text-box: trim-both cap alphabetic;
}

@mixin txt-description {
  font-size: var(--font-size-sm);
  color: var(--txt-muted);
  letter-spacing: 0.03em;
}

@mixin txt-kana {
  font-family: var(--font-plaster);
  text-box: trim-both cap alphabetic;
  color: var(--txt-subtle);
}

@mixin hd-sm {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-box: trim-both cap alphabetic;
}

@mixin hd-md {
  font-size: var(--font-size-2xl);
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-weight: var(--font-weight-regular);
  }

  @include mq(fromWide) {
    font-weight: var(--font-weight-thin);
  }

  small {
    @include hd-sm;

    display: inline-block;
    margin: rem(12) 0 0;
    font-weight: var(--font-weight-thin);
    line-height: 1.3;

    @include mq(narrow) {
      font-weight: var(--font-weight-regular);
    }

    @include mq(fromWide) {
      font-weight: var(--font-weight-thin);
    }
  }
}

@mixin hd-lg {
  font-weight: var(--font-weight-thin);
  line-height: 1.3;
  color: var(--txt-accent);
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: rem(42);
  }

  @include mq(fromWide) {
    font-size: rem(48);
  }
}

@mixin hd-display {
  font-weight: var(--font-weight-thin);
  line-height: 1.3;
  color: var(--txt-accent);
  letter-spacing: 0.03em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: rem(56);
  }

  @include mq(fromWide) {
    font-size: rem(80);
  }
}

@mixin txt-link {
  color: currentColor;
  text-decoration: none;
  background: repeating-linear-gradient(
      to right,
      currentColor,
      currentColor 3px,
      transparent 3px,
      transparent 5px
    )
    left bottom 1px / 100% 1px no-repeat;
  transition: background-position var(--transition);

  @media (any-hover: hover) {
    &:hover {
      background-position: right bottom 0;
    }
  }
}

@mixin txt-marker {
  background: linear-gradient(to bottom, var(--border-basic), var(--border-basic)) left bottom
    0.4em / 100% 0.8em no-repeat;
}

@mixin txt-accent {
  background: linear-gradient(to bottom, var(--border-marker), var(--border-marker)) left bottom
    0.4em / 100% 0.8em no-repeat;
}
