@use '../function/rem' as *;
@use '../mixin/mq' as *;

@mixin txt-paragraph {
  font-weight: var(--font-weight-regular);
  text-align: justify;
  letter-spacing: 0.04em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: var(--font-size-md);
    line-height: 2;
  }

  @include mq(fromWide) {
    font-size: var(--font-size-md);
    line-height: 2.5;
  }
}

@mixin txt-lead {
  font-size: var(--font-size-lg);
  line-height: 1;
  letter-spacing: 0.05em;
  text-box: trim-both cap alphabetic;
}

@mixin txt-description {
  font-size: var(--font-size-sm);
  color: var(--txt-muted);
  letter-spacing: 0.03em;
}

@mixin txt-kana {
  font-family: var(--font-plaster);
  text-box: trim-both cap alphabetic;
  color: var(--txt-subtle);
}

@mixin hd-sm {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-box: trim-both cap alphabetic;
}

@mixin hd-md {
  font-size: var(--font-size-2xl);
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-weight: var(--font-weight-regular);
  }

  @include mq(fromWide) {
    font-weight: var(--font-weight-thin);
  }

  small {
    @include hd-sm;

    display: inline-block;
    margin: rem(12) 0 0;
    font-weight: var(--font-weight-thin);
    line-height: 1.3;

    @include mq(narrow) {
      font-weight: var(--font-weight-regular);
    }

    @include mq(fromWide) {
      font-weight: var(--font-weight-thin);
    }
  }
}

@mixin hd-lg {
  font-weight: var(--font-weight-thin);
  line-height: 1.3;
  color: var(--txt-accent);
  letter-spacing: 0.02em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: rem(42);
  }

  @include mq(fromWide) {
    font-size: rem(48);
  }
}

@mixin hd-display {
  font-weight: var(--font-weight-thin);
  line-height: 1.3;
  color: var(--txt-accent);
  letter-spacing: 0.03em;
  text-box: trim-both cap alphabetic;

  @include mq(narrow) {
    font-size: rem(56);
  }

  @include mq(fromWide) {
    font-size: rem(80);
  }
}

@mixin txt-link($underline: true) {
  @if $underline {
    text-decoration: underline dotted 1px;
    text-underline-offset: 0.2em;
  } @else {
    text-decoration: none;
  }

  color: color-mix(in srgb, var(--bg-accent), transparent 100%);
  text-shadow: 0 0 0 var(--txt-basic);
  background: repeating-linear-gradient(
      -0.2turn,
      transparent,
      transparent 2px,
      currentColor 4px,
      currentColor calc(100% - 4px),
      transparent calc(100% - 2px),
      transparent 100%
    )
    right bottom 0.3em / 75% 0.8em no-repeat;
  transition:
    text-shadow var(--transition),
    color var(--transition-enter),
    background-size var(--transition-enter);

  @media (any-hover: hover) {
    &:hover {
      color: var(--bg-marker);
      text-shadow: 0 0 1px var(--txt-basic);
      background-position-x: left;
      background-size: 100% 0.8em;
      transition:
        text-shadow var(--transition),
        color var(--transition),
        background-size var(--transition-leave);
    }
  }
}

@mixin txt-marker {
  background: repeating-linear-gradient(
      -0.2turn,
      transparent,
      transparent 2px,
      color-mix(in srgb, var(--txt-subtle), transparent 66%) 4px,
      color-mix(in srgb, var(--txt-subtle), transparent 66%) calc(100% - 4px),
      transparent calc(100% - 2px),
      transparent 100%
    )
    right bottom 0.3em / 100% 0.8em no-repeat;
}

@mixin txt-accent {
  background: repeating-linear-gradient(
      -0.2turn,
      transparent,
      transparent 2px,
      var(--bg-marker) 4px,
      var(--bg-marker) calc(100% - 4px),
      transparent calc(100% - 2px),
      transparent 100%
    )
    right bottom 0.3em / 100% 0.8em no-repeat;
}
