@use '@/styles/_variable' as *;

.article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xl);

  @include mq(narrow) {
    margin-top: var(--spacing-3xl);
  }

  @include mq(fromWide) {
    max-width: rem(1280);
    padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-5xl);
    margin-inline: auto;
  }
}

.header {
  @include tmp-container;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
}

.title {
  @include hd-lg;
}

.guest {
  @include hd-md;

  margin: 0;
}

.date {
  @include txt-description;
}

.body {
  @include tmp-container;

  p {
    @include txt-paragraph;
  }

  p ~ p {
    @include mq(narrow) {
      margin-top: 3em;
    }

    @include mq(fromWide) {
      margin-top: 4em;
    }
  }

  h2 {
    @include hd-lg;

    margin-top: var(--spacing-4xl);
  }

  h3 {
    @include hd-md;

    margin-top: var(--spacing-4xl);
  }

  hr {
    margin: var(--spacing-2xl) 0;
    border: none;
    border-top: 1px solid var(--border-basic);
  }
}
