@use '@/styles/_variable' as *;

.article {
  @include mq(narrow) {
    @include tmp-container;

    margin: var(--spacing-3xl) auto var(--spacing-5xl);
  }

  @include mq(fromWide) {
    max-width: rem(1280);
    padding: var(--spacing-3xl) var(--spacing-3xl) var(--spacing-5xl);
    margin-inline: auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  margin-bottom: var(--spacing-2xl);
}

.title {
  @include hd-lg;
}

.guest {
  margin: 0;
  font-size: var(--font-size-md);
  letter-spacing: 0.04em;
}

.date {
  @include txt-description;
}

.body {
  @include txt-paragraph;

  @include mq(fromWide) {
    max-width: rem(720);
  }
}
